<template>
    <section>
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="contato">
                            <a href="tel:+554130155442" class="phoneRodape"> <img src="~/assets/imagens/phone.jpg" alt=""> 41-30155442 // 41-30295442</a><br>
                            <a href="https://wa.me/5541998549565" class="whatsrodape" target="_blank" rel="noopener"><img src="~/assets/imagens/whats.jpg" alt=""> 41-998549565 </a> <br>
                            <a href="mailto:douglas@dhfcontabil.com.br" class="emailRodape"> <img src="~/assets/imagens/mail.jpg" alt=""> douglas@dhfcontabil.com.br </a><br>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="imagens">
                            <a href="https://teste.evonline.com.br/dhf">
                            <picture><source srcset="https://teste.evonline.com.br/dhf/wp-content/webp-express/webp-images/uploads/logo-rodape.png.webp" type="image/webp">
                            <img width="193" height="90" src="https://teste.evonline.com.br/dhf/wp-content/uploads/logo-rodape.png" class="imagem logo webpexpress-processed" alt="">
                            </picture>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="local">
                        <a><i class="fas fa-map-marker-alt" aria-hidden="true"></i> AV Paraná, 2288 - 3º Andar Sala 304<br>
                         Bacacheri - CTBA / PR </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class=" mk-grid">
                            <span class="mk-footer-copyright">
                                <span class="evo-copy" style="text-align: center;">
                                <a class="icone-love" href="https://www.evonline.com.br/" target="_blank" rel="noopener noreferrer">desenvolvido com <img src="~/assets/imagens/coracao.jpg" alt=""> </a> &nbsp;
                                <a class="logo-evonline" href="https://www.evonline.com.br/" target="_blank" rel="noopener noreferrer">por <img src="~/assets/imagens/logo-evo.jpg" alt=""></a>&nbsp; DHF Assessoria Contábil © 2022</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>

<script>

</script>

<style scoped>
#localizacao {
    margin: 60px 0;
}
#footer {
    background: #c79850;
    padding: 55px 0;
}
.contato a, .local a {
    font-family: 'Lato',sans-serif !important;
    color: #fff;
}
#subfooter {
    text-align: center;
    padding: 25px 0;
    background: #f7f4f4;
}
span.mk-footer-copyright {
    color: #4a6b92;
}
span.mk-footer-copyright a {
    color: #4a6b92;
}
</style>
