<template>
    <section id="menu-site">
        <div class="container">
            <div class="row">
                <div class="col-12">
                   <nav class="nav justify-content-center teste-site">
                        <a class="nav-link active" href="#">HOME</a>
                        <a class="nav-link" href="#">Sobre</a>
                        <a class="nav-link" href="#">Soluções</a>

                        <img src="~/assets/imagens/logo-home.jpg" class="imagem-logo" alt="logo so site">

                        <a class="nav-link" href="#">Serviços</a>
                        <a class="nav-link" href="#">Area do cliente</a>
                        <a class="nav-link" href="#">Fale conosco</a>
                    </nav>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
export default {

}
</script>

<style scoped>
#menu-site{
    padding: 50px 0;
}
.teste-site a {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 17px;
    color: #18213c;
}
.teste-site a:hover {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 17px;
    color: #cc9e5d;
}
img.imagem-logo {
    padding: 0 51px;
}
</style>
