<template>
    <section id="topo-site">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class= "left">
                    <a href="#"><img width="18" height="18" src="~/assets/imagens/face.jpg" class="imagem logo" alt=""></a>
                    <a href="#"><img width="18" height="18" src="~/assets/imagens/insta.jpg" class="imagem logo" alt=""></a>
                    <a href="#"><img width="18" height="18" src="~/assets/imagens/tuiter.jpg" class="imagem logo" alt=""></a>
                </div>
            </div>
            <div class="col">
                <div class="right">
                    <a href="mailto:douglas@dhfcontabil.com.br" class="emailRodape"><i class="fas fa-envelope" aria-hidden="true"></i> douglas@dhfcontabil.com.br</a>
                </div>
            </div>
        </div>
    </div>
    </section>
</template>

<script>
export default {

}
</script>

<style scoped>
#topo-site {
    background: #0e1734;
    height: 35px;
}
.right {
    text-align: right;
    padding: 5px;
}
.right a {
    color: #fff;
}
.left{
    padding: 5px;
}
</style>
