$primary: #e47404;
$secondary: #df920b;

$title: #dcb06d;
$text: #4f4f4f;
$text-light: #bab7b7;

$white: #ffffff;
$black: #000000;

$bg-light: #fbfafa;
$bg-neutral: #f5f2f2;

.primary {
  color: $secondary;
}
