//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
}

p,
a {
  color: $text;
  font-size: 19px;
  line-height: 36px;
}

a {
  transition: all 0.3s;
  &:hover {
    color: $primary;
  }
}

.btn-link {
  color: $primary;
}

.primary {
  color: $primary;
}

h1 {
  font-size: 72px;
  font-weight: 300;
}

h2 {
  font-size: 45px;
  font-weight: 300;
  line-height: 55px;
}

h3 {
  font-size: 22px;
  line-height: 30px;
}

h4,
h5,
h6 {
  font-size: 20px;
  line-height: 35px;
}

.btn {
  background-color: $primary;
  border: 2px solid $primary;
  color: $white;
  padding: 13px;
  max-width: 300px;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    background-color: $secondary;
    border: 2px solid $secondary;
    color: $white;
  }

  &.small {
    max-width: initial;
    width: auto;
    padding: 10px 15px;
    line-height: 20px;
  }

  &.medium {
    max-width: 375px;
    width: 100%;
  }

  &.large {
    max-width: 455px;
    width: 100%;
  }

  &.xlarge {
    max-width: 515px;
    width: 100%;
  }

  &--outline {
    background-color: transparent;
    border: 2px solid $primary;
    color: $primary;
    text-transform: uppercase;

    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
    line-height: 60px;
  }

  h2 {
    font-size: 32px;
    line-height: 48px;
  }

  h3 {
    font-size: 22px;
    line-height: 30px;
  }

  h4,
  h5,
  h6 {
    font-size: 20px;
    line-height: 35px;
  }

  .btn {
    font-size: 16px;
    line-height: 24px;
  }
}
