<template>
  <section>
    <div>
      <TopinhoSite />
    </div>
    <div>
      <HeaderTopo />
    </div>
    <section id="novo-banner">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
              <div class="text-banner">
              <h1>Tudo o que sua empresa <br> precisa em assessoramento</h1>
              <h2>contabil <spam style="color: #fff;">E</spam> empresarial</h2>
              <p>consulte nossas soluções sob-medida para sua empresa!</p>
              <div class="btn-banner">
              <button class="btn-banner">saiba mais</button>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
              <img class="d-block w-100 img-fluid" src='~/assets/imagens/proficional-home-.png' alt="Primeiro Slide">
          </div>
        </div>
      </div>
    </section>

    <section id="assessoria">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-sobre">
            <h1>Prazer, somos a DHF Assessoria Contábil</h1>
            <h3>SEGURANÇA E CONFIABILIDADE QUE SÓ UMA EMPRESA SÉRIA E COMPROMETIDA PODE OFERECER</h3>
            <p>A DHF Assessoria Contábil nasceu com a visão de ser reconhecida como uma empresa, referência no segmento de contabilidade empresarial, com padrão de excelência, através do aprimoramento contínuo de nossos serviços, visando a plena satisfação de todos os nossos clientes, tendo como missão a apresentação de soluções contábeis e gerenciais para a tomada de decisões, contribuindo constantemente para a organização, o crescimento e o sucesso de todos os nossos clientes e parceiros.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="encontramos">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-encontramos">
            <p>Encontramos soluções para o seu dia a dia e buscamos maneira de simplificar o seu trabalho. Gostamos do que fazemos e isso nos permite procurar fazer sempre da melhor maneira possível, pois alcançar a satisfação de nossos clientes é alcançar a nossa própria satisfação profissional.</p> <br>

            <p>Utilizamos o que há de mais moderno no mercado e primamos pela atualização constante de nossos profissionais. Participamos ativamente de workshops e lançamentos de novas tecnologias estando aptos a entregar um produto atualizado e em acordo com as mais recentes convenções tecnológicas.</p>
          </div>
          <div class="col-sm-6 imagem-pc">
            <img src="~/assets/imagens/sistema-dhf.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>

    <section id="servicos">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 nosso-servicos">
            <h2>NOSSOS SERVIÇOS</h2>
          </div>
          <div class="col-sm-12 servicos-iconis">
          <div class="col-sm-1/5">
            <div class="gestao">
            <img src="" alt=""><br>
            <p>Planejamento <br> Societário</p>
            </div>
            </div>
          <div class="col-sm-1/5">
            <div class="gestao-rh">
            <img src="~/assets/imagens/svgs/rh.svg"  alt=""><br>
            <p>Gestão de RH</p>
            </div>
          </div>
          <div class="col-sm-1/5">
            <div class="gestao">
            <img src="~/assets/imagens/svgs/fiscal.svg"  alt=""><br>
            <p>Gestão Fiscal e <br> Tributaria</p>
            </div>
          </div>
          <div class="col-sm-1/5">
          <div class="gestao">
            <img src="~/assets/imagens/svgs/sistema.svg"  alt=""><br>
            <p>Gestão Contábil</p>
            </div>
          </div>
          <div class="col-sm-1/5">
          <div class="gestao">
            <img src="~/assets/imagens/svgs/erp.svg"  alt=""><br>
            <p>Gestão Contábil <br> Sistemas ERP <br>(Protheus)</p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>

    <section id="globais">
      <div class="container">
        <div class="row ideias">
              <div class="col criativas">
                <h3>SOLUÇÕES GLOBAIS</h3>
                <p>A constante análise de soluções dentro e fora do País nos permite escolher sempre a melhor estratégia para cada negócio.</p>
              </div>
              <div class="col criativas">
                <h3>IDEIAS CRIATIVAS</h3>
                <p>Ter boas ideias não é suficiente para nosso time. Sempre as analisamos em conjunto e encontramos a melhor maneira de implementa-la com rapidez e eficiência, dentro de rigorosos testes periódicos.</p>
              </div>
              <div class="col criativas">
                <h3>NOVAS TECNOLOGIAS</h3>
                <p>Estamos sempre conectados as mais novas ferramentas para que nossas soluções sigam esta tendência. Adquirindo uma solução da DHF Assessoria Contábil você estará adquirindo o que existe de mais moderno no mercado.</p>
              </div>
              <div class="col criativas">
                <h3>SOFTWARES ERP</h3>
                <p>Centralize suas informações em um único local e gerencie seu negócio de qualquer lugar. Efetuamos a parametrização de seu software ERP e demais configurações.</p>
              </div>
        </div>
      </div>
    </section>

    <section id="localizacao">
      <div class="container">
        <div class="row encontramos">
            <div class="col">
              <div class="mapa">
                  <h2>onde se Encontramos</h2>
                <img src="~/assets/imagens/mapa.jpg" class="img-fluid"  width="592" height="460" alt="">
              </div>
            </div>
            <div class="col">
              <div class="contato">
              <h2>Fale conosco</h2>
              <form>
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Nome">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Telefone">
                  </div>
                </div>
                  <div class="form-group">
                    <label for="inputAddress2"></label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="E-mail">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Mensagem" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
              </div>
            </div>
          </div>
      </div>
    </section>

    <section>
      <FooterSite />
    </section>

  </section>
</template>

<script>
import TopinhoSite from '~/components/geral/TopinhoSite.vue'

import HeaderTopo from '~/components/geral/HeaderTopo.vue'

import FooterSite from '~/components/geral/FooterSite.vue'

export default {
  name: 'IndexPage',

  components: {
    TopinhoSite,
    HeaderTopo,
    FooterSite
  }
}
</script>

<style src="./styles.css" scoped></style>
