#novo-banner{
    background: url(~/assets/imagens/banner-home.jpg) no-repeat center / cover;
    height: 690px;
}
.text-banner h1 {
    font-size: 51px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
.text-banner h2 {
    font-size: 51px;
    text-transform: uppercase;
    font-weight: 700;
    color: #0d1633;
}
.text-banner p {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
button.btn-banner {
    background: #0d1633;
    color: #fff;
    font-size: 14px;
    padding: 5px 19px;
    border-radius: 30px;
    border-color: #0d1633;
}
button.btn-banner:hover {
    background: #ceaf6a;
    color: #fff;
    font-size: 14px;
    padding: 5px 19px;
    border-radius: 30px;
    border-color: #ceaf6a;
}
#assessoria {
   /* margin-top: -44%;*/
    text-align: center;
}
.text-sobre h1 {
    color: #cc9e5d;
    text-transform: uppercase;
}
.text-sobre h3 {
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 24px;
}
.text-sobre p {
    font-weight: 500;
    font-size: 18px;
}
#encontramos {
    margin-top: 70px;
    background: url(https://teste.evonline.com.br/dhf/wp-content/uploads/fundo-proposito.jpg);
    padding-bottom: 100px;
    padding-top: 100px;
}
.text-encontramos p {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 19px;
    padding-bottom: 15px;
}
#servicos {
    margin-top: 80px;
    margin-bottom: 65px;
}
.nosso-servicos h2,
.mapa h2,
.contato h2 {
    text-align: center;
    font-size: 41px;
    color: #cc9e5d;
    font-weight: 600;
    padding-bottom: 25px;
    text-transform: uppercase;
}
.gestao p {
    color: #212843;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.servicos-iconis {
    display: flex;
    justify-content: space-around;
}
img.planejamento {
    margin-left: 16px;
}
#localizacao {
    margin: 70px auto;
}
/*BLOCO DE TEXTO AZUL*/
#globais {
    background-image: url(https://teste.evonline.com.br/dhf/wp-content/uploads/fundo-ideias.jpg?);
    padding: 80px 0;
    margin-bottom: 20px;
}
.ideias {
    display: flex;
    justify-content: space-around;
}
.criativas h3 {
    color: #cc9e5d;
    font-size: 24px;
    font-weight: 600;
}
.criativas p {
    color: #fff;
    font-size: 18px;
}
/*AREA DO FORMUMARIO*/
.form-control {
    display: block;
    width: 101%;
    height: calc(2.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 16px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#exampleFormControlTextarea1 {
    height: 175px;
}
.btn-primary {
    color: #fff;
    background-color: #171e45;
    border-color: #171e45;
    margin-left: 77%;
    padding: 6px 37px;
    border-radius: 30px;
}
/*RESPONSIVO DO SITE*/
@media (max-width: 767px){
    .servicos-iconis{
        flex-direction: column;
        align-items: center;
    }
    .btn-primary{
        margin-left: 59%;
    }
    .text-sobre {
        font-size: 33px;
    }
    #encontramos{
        margin-top: 30px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .text-encontramos{
        text-align: center;
        font-size: 16px;
    }
    .nosso-servicos h2,
    .mapa h2,
    .contato h2 {
        font-size: 30px;
        text-align: center;
    }
    .ideias{
        flex-direction: column;
    }
    .criativas{
        text-align: center;
    }
    #footer{
        text-align: center;
        line-height: 25px;
        padding: 30px 0;
    }
    .contato {
        padding: 30px 0;
    }
    .local {
        padding: 30px 0;
    }
    #localizacao {
        margin: 50px auto;
    }
    #servicos {
        margin-top: 40px;
        margin-bottom: 40px;
    }


}